.dockerignore
.git
.gitattributes
.gitignore
.pylintrc
.gitmodules
bitbucket-pipelines.yml
docker
misc
notebooks

**/*.tar
**/.pytest_cache
**/.vscode
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/*.o
**/.Python
**/env/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/*.manifest
**/*.spec
**/pip-log.txt
**/pip-delete-this-directory.txt
**/htmlcov/
**/.tox/
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*,cover
**/.hypothesis/
**/*.mo
**/*.pot
**/*.log
**/local_settings.py
**/instance/
**/.webassets-cache
**/.scrapy
**/docs/_build/
**/target/
**/.ipynb_checkpoints
**/.python-version
**/celerybeat-schedule
**/*.sage.py
**/.env
**/.venv
**/venv/
**/ENV/
**/.venv*/
**/.spyderproject
**/.ropeproject
**/*.pyi
**/*.build/
**/.image_id
**/.image-history
**/.test-history
**/.perf-history
**/GPATH
**/GRTAGS
**/GTAGS
**/*.npy
**/*.DS_Store
**/*.avi
**/*.mov
**/*.mp4
**/*.h5
**/*.meta
**/*.pb
**/*.mkv
**/*.mvnc
**/*.graph
**/*.weights
**/*.caffemodel
**/*.prototxt
**/*_test.ipynb
**/*.bak
**/*.err
**/*.test
**/*.local
**/*.local/
**/*.db
**/*.vprof
**/*.mdl
**/*.html
**/*.pth
